body {
  font-family: 'Noto Sans TC', sans-serif;
  color:#E8CCFF
}
h1, h2 {
font-family: 'Noto Sans TC', sans-serif;
color:#E8CCFF
}
.bg-primary {
  background-color: #FF88C2!important;
}

.text-primary {
  color: #FF88C2!important;
}

a {
  color: #FF88C2;
}

a:hover, a:focus, a:active {
  color: #FF88C2;
}
