body {
  font-family: 'Noto Sans TC', sans-serif;
  color:blue
}
h1, h2 {
font-family: 'Noto Sans TC', sans-serif;
color:blue
}
.bg-primary {
  background-color: #FFC8B4!important;
}

.text-primary {
  color: #FFC8B4!important;
}

a {
  color: #FFC8B4;
}

a:hover, a:focus, a:active {
  color: #FFC8B4;
}