body {
  font-family: 'Noto Sans TC', sans-serif;
  color:#FFA488
}
h1, h2 {
font-family: 'Noto Sans TC', sans-serif;
color:#FFA488
}
.bg-primary {
  background-color: #FF8888!important;
}

.text-primary {
  color: #FF8888!important;
}

a {
  color: #FF8888;
}

a:hover, a:focus, a:active {
  color: #FF8888;
}

.bg-primary {
  background-color: #eb7975!important;
  background-image: url("https://www.transparenttextures.com/patterns/cross-scratches.png")
}
